# Libraries

In [1]:
import pandas as pd
from getpass import getuser

# Input Directories

In [4]:
# Get the current user's name
user = getuser()
directory = f"C:/Users/{user}/Documents/GitHub/davis-cup/data/davis matches/combined_davis.xlsx"
df = pd.read_excel(directory)
df

,date,venue,surface,ball,stage,set1,set2,set3,set4,set5,...,player2,team_name,dob_player1,single_ranking_player1,doubles_ranking_player1,dob_player2,single_ranking_player2,doubles_ranking_player2,year,court pace rating
0,01 Feb - 03 Feb 2013,"Thunderbird Sports Centre, Vancouver, Canada","Hard - Premier, Indoor",Wilson US Open Extra Duty,WORLD GROUP 1ST ROUND,6.0,6.0,6.0,6.0,NaN,...,NaN,CANADA,27 Dec 1990,231,NaN,NaN,NaN,NaN,2013,NaN
1,01 Feb - 03 Feb 2013,"Thunderbird Sports Centre, Vancouver, Canada","Hard - Premier, Indoor",Wilson US Open Extra Duty,WORLD GROUP 1ST ROUND,7.0,4.0,4.0,4.0,NaN,...,NaN,SPAIN,17 Jan 1988,122,NaN,NaN,NaN,NaN,2013,NaN
2,01 Feb - 03 Feb 2013,"Thunderbird Sports Centre, Vancouver, Canada","Hard - Premier, Indoor",Wilson US Open Extra Duty,WORLD GROUP 1ST ROUND,6.0,6.0,6.0,NaN,NaN,...,NaN,CANADA,26 Sep 1984,NaN,NaN,NaN,NaN,NaN,2013,NaN
3,01 Feb - 03 Feb 2013,"Thunderbird Sports Centre, Vancouver, Canada","Hard - Premier, Indoor",Wilson US Open Extra Duty,WORLD GROUP 1ST ROUND,1.0,2.0,2.0,NaN,NaN,...,NaN,SPAIN,12 Apr 1986,NaN,1=,NaN,NaN,NaN,2013,NaN
4,01 Feb - 03 Feb 2013,"Thunderbird Sports Centre, Vancouver, Canada","Hard - Premier, Indoor",Wilson US Open Extra Duty,WORLD GROUP 1ST ROUND,6.0,4.0,7.0,3.0,2.0,...,Vasek Pospisil,CANADA,04 Sep 1972,NaN,NaN,23 Jun 1990,609,1387=,2013,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2269,25 Nov - 25 Nov 2023,Malaga,",",NaN,FINALS SEMI-FINAL,3.0,4.0,NaN,NaN,NaN,...,Miomir Kecmanovic,SERBIA,22 May 1987,2,NaN,31 Aug 1999,53,412,2023,NaN
2270,26 Nov - 26 Nov 2023,Malaga,",",NaN,FINALS FINAL,5.0,6.0,4.0,NaN,NaN,...,NaN,AUSTRALIA,05 Aug 1999,28,868,NaN,NaN,NaN,2023,NaN
2271,26 Nov - 26 Nov 2023,Malaga,",",NaN,FINALS FINAL,7.0,2.0,6.0,NaN,NaN,...,NaN,ITALY,22 Feb 2001,30,545=,NaN,NaN,NaN,2023,NaN
2272,26 Nov - 26 Nov 2023,Malaga,",",NaN,FINALS FINAL,3.0,0.0,NaN,NaN,NaN,...,NaN,AUSTRALIA,17 Feb 1999,10,340,NaN,NaN,NaN,2023,NaN
2273,26 Nov - 26 Nov 2023,Malaga,",",NaN,FINALS FINAL,6.0,6.0,NaN,NaN,NaN,...,NaN,ITALY,16 Aug 2001,1,249,NaN,NaN,NaN,2023,NaN

In [6]:
# rename team variable
df.rename(columns={'team_name': 'team'}, inplace=True)

In [7]:
# Group by 'team' and 'year', then count the number of unique 'player1'
unique_players_per_team_year = df.groupby(['team', 'year'])['player1'].nunique()

# Convert the Series to a DataFrame
result_table = unique_players_per_team_year.reset_index(name='unique_player_count')

# Pivot the DataFrame to create the desired table
pivot_table = result_table.pivot(index='team', columns='year', values='unique_player_count')

# Reindex the columns to include all years from 2014 to 2023
all_years = range(2014, 2024)
pivot_table = pivot_table.reindex(columns=all_years)

# Display the resulting table
pivot_table

year,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
team,,,,,,,,,,
ARGENTINA,3.0,4.0,7.0,2.0,NaN,3.0,NaN,NaN,NaN,NaN
AUSTRALIA,4.0,NaN,3.0,5.0,3.0,NaN,NaN,NaN,3.0,4.0
AUSTRIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BELGIUM,2.0,3.0,3.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN
BRAZIL,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CANADA,NaN,3.0,3.0,3.0,3.0,3.0,NaN,NaN,3.0,3.0
CROATIA,NaN,4.0,5.0,4.0,4.0,NaN,NaN,3.0,3.0,NaN
CZECHIA,4.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,2.0
FINLAND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
FRANCE,4.0,4.0,6.0,8.0,9.0,NaN,NaN,NaN,NaN,NaN
GERMANY,7.0,3.0,NaN,3.0,4.0,NaN,NaN,4.0,3.0,NaN
GREAT BRITAIN,3.0,3.0,5.0,3.0,3.0,3.0,NaN,3.0,NaN,2.0
HUNGARY,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
ISRAEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ITALY,3.0,NaN,5.0,5.0,3.0,NaN,NaN,3.0,4.0,3.0
JAPAN,3.0,3.0,3.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN
KAZAKHSTAN,3.0,NaN,3.0,NaN,4.0,NaN,NaN,3.0,NaN,NaN
NETHERLANDS,3.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0
POLAND,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RUSSIA,NaN,NaN,NaN,3.0,NaN,2.0,NaN,NaN,NaN,NaN
RUSSIAN TENNIS FEDERATION (RTF),NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
SERBIA,3.0,3.0,5.0,6.0,4.0,2.0,NaN,4.0,NaN,2.0
SPAIN,3.0,NaN,NaN,3.0,7.0,5.0,NaN,NaN,2.0,NaN
SWEDEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
SWITZERLAND,4.0,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN
USA,NaN,3.0,3.0,4.0,6.0,NaN,NaN,NaN,3.0,NaN

In [8]:
# Highlight values greater than 5
def highlight(value):
    if pd.notnull(value) and value > 5:
        return 'background-color: yellow'
    return ''

styled_table = pivot_table.style.applymap(lambda x: highlight(x))

# Display the styled table
styled_table

C:\Users\aldi\AppData\Local\Temp\ipykernel_37052\1564758840.py:7: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  styled_table = pivot_table.style.applymap(lambda x: highlight(x))

In [10]:
filtered_df = df[(df['year'] == 2018) & (df['team'] == 'FRANCE')]

unique_players_team = filtered_df['player1'].unique()

# Display the unique players for 2018 and France
print(unique_players_team)

['Adrian Mannarino' 'Richard Gasquet' 'Pierre-Hugues Herbert'
 'Lucas Pouille' 'Jeremy Chardy' 'Benoit Paire' 'Julien Benneteau'
 'Nicolas Mahut' 'Jo-Wilfried Tsonga']